$primary-color: #008080;
$secondary-color: #72A194;
$background-color: #f5f5f5;
$light-color: #fff;
$text-color: #333;
$header-background: #000000;
$font-family: 'Arial', sans-serif;


//-------------------------
$star-color: #ffd700; // Gold color for stars
$testimonial-bg: #f4f4f4;
$border-color: #ddd;
